<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>
            This site was created by Ramesh.
            It uses data from mapbox.com and webstack.com
        </p>
        <img class="potrait" src="./img/face.png">
    </div>

    {{>footer}}
</body>

</html>