<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
</head>

<body>
    <div class="main-content">

        {{>header}}

        <img class="potrait" src="./img/face.png">
    </div>

    {{>footer}}
</body>

</html>